# Python
*.py[cod]
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media

# Virtual Environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# PyCharm
.idea/
*.iml
*.ipr
*.iws

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# JetBrains related
# User-specific stuff:
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/vcs.xml
.idea/jsLibraryMappings.xml
.idea/.idea

# AWS credential file
*.pem

# Coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# dotenv
.env
.env.*

# Sphinx documentation
docs/_build/

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# Pyre type checker
.pyre/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# celery beat schedule file
celerybeat-schedule.*

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

db.sqlite3
