{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}
    <h1>Login to Now & Then</h1>
    <form id="login_form" method="post" action="{% url 'nowandthen:login' %}">
        {% csrf_token %}
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" size="50" />
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" size="50" />
        </div>
        <div>
            <input type="submit" value="Submit" />
        </div>
    </form>
    <br>
{% endblock %}